{% extends 'base.html' %}

{% load static %}


{% block ReciclableContenido %}

<head>
    <title style="text-align: center;">SITIO EN CONSTRUCCIÓN</title>
    <p>
        
    </p>
   
</head>
<body>
    <div> 

        <h1 style="text-align: center;">WEB EN CONSTRUCCIÓN</h1>
      
        <p class="fst-italic" style="text-align: center;">No hay sitio aún</p>

        <div style="text-align:center; width:100%;">
            <a href="{% url 'Inicio' %}" style="color:blue; font-size:24px;">VOLVER A INICIO</a>
          </div>
          


    </div>

{% endblock ReciclableContenido %}