{% extends 'base.html' %}

{% load static %}


{% block ReciclableContenido %}



 
        <h2 style="text-align: center;">Acerca de nosotros</h2>
        <hr style="text-align: center class="star-primary">

        <p style="text-align: center;"">¡Hola! Soy Ailén Páez, tengo 32 años y soy la creadora de este proyecto web dedicado a los deportistas.</p>
        <p style="text-align: center;"">Este sitio web fue mi proyecto final para mi curso de Python y estoy muy emocionada de compartirlo contigo.</p>
        <p style="text-align: center;">Desde joven siempre me gustó el deporte y su impacto positivo en la salud física y mental. Pero a menudo me encontraba con la dificultad de encontrar clases y profesores adecuados para mi nivel y objetivos.</p>
        <p style="text-align: center;">Por eso, decidí crear este sitio web donde los deportistas puedan encontrar fácilmente las clases y profesores adecuados para su nivel y objetivos. </p>
        <p style="text-align: center;">También me aseguré de que el sitio sea fácil de usar e intuitivo para que cualquier persona pueda navegarlo sin problemas.</p>
        <p style="text-align: center;">Gracias por visitar mi sitio web y espero que lo encuentres útil para tus necesidades deportivas. Si tienes alguna pregunta o comentario, no dudes en ponerte en contacto conmigo a través del formulario de contacto en la página de inicio.</p>



{% endblock ReciclableContenido %}